#title{
    background-color:#1f1e1e;
    color: white;
    margin-bottom: 0%;
}

body{
font-family: "montserrat";
/* background-color:#1f1e1e; */

}

 /* .gymImage{

       margin-right: 0%;
   
 }   */


.button-class1{
margin: 5% 3% 5% 0;

}

h1{
    
    font-family: "Montserrat";
    font-weight: bold;
     font-size: 1.5rem;
    line-height: 1.5
}

.nav-item{
    padding: 0 6px;
}

.navbar-brand{
font-family: "Ubuntu";
font-size: 1.3rem;
font-weight: bold;
}

.navbar{
    padding: 0 0 1rem;
}


.container-fluid{
padding: 1%  1% 0% 1%;
    
}

/* navbar */
.navbar{

    font-family: ubuntu;
   
  
}

#features{
padding:5% 15% 
}

.feature-box{
    text-align: center;
    padding:5%;
}

h3{
    font-family:"Montserrat";
    font-weight:bold;
}
.p_features_color{
    color:#8f8f8f;
}

.features-icon{
padding-bottom: 1rem;
}

.features-icon:hover{
    color:#f2cf0b;
}

